html, body {
	background: #EEE;
}

.navbar {
	border-radius: 0;
}

/* Authentication */
.auth {
	padding: 15px;
	margin: 30px auto 0 auto;
	max-width: 330px;
	background: #FFF;
}

.auth .heading {
	padding: 15px;
	margin: -15px;
	color: #FFF;
	text-align: center;
	text-transform: uppercase;
	background: #18BC9C;
}

.auth form {
	padding: 15px;
	margin-top: 15px;
}

.auth form input {
	margin-bottom: 15px;
}

.auth form .form-group {
	margin-bottom: -15px;
}

/* Quiz List */
.quiz-card {
	position: relative;
	width: 200px;
	padding: 30px;
	margin: 15px auto;
	border: 1px solid #DEE2E6;
	border-radius: 3px;
	text-align: center;
	overflow: hidden;
	background: white;
}

.quiz-card i.fa {
	position: absolute;
    bottom: -30px;
    right: -30px;
    font-size: 150px;
    color: #BAC4C5;
    opacity: 0.3;
    z-index: 1;
}

.quiz-card .details {
	z-index: 2;
	position: relative;
	margin-bottom: 30px;
}

.quiz-card .details p i.fa {
	padding-right: 5px;
	margin-left: -5px;
}

.quiz-card .details p.name {
	font-size: 16px;
	font-weight: 600;
}

.quiz-card .details p.questions {
	font-size: 12px;
}

.quiz-card a {
	z-index: 2;
	position: relative;
}
